*{
  margin: 0;
  font-family: sans-serif;
  font-size: .96rem;
}
p{
  font-size: .9rem;
}
h4{
  font-size: 1.2rem;
}
.heading{
  font-weight: 900;
}
:root{
  --bg-light:#F3F3EF;
  --bg-card: #FFF;
  --accent: #0A66C2;
  --accent-dark:rgb(1, 37, 78);
  --text-black: black;
  --text-gray: rgb(100, 100, 100);
  --card-radius: .7rem;
  --border-color:rgb(218, 218, 218);
  --border: .1px solid var(--border-color);
}

@keyframes white-shine{
  from{
      background-position-x:-40%;
  }
  to{
      background-position-x:150%;
  }
}
.loading{
  background-size: 300% ;
  background-image: linear-gradient(90deg,rgb(238, 238, 238), white,rgb(238, 238, 238));
  animation: white-shine 1s forwards infinite
}

/* //GGENENRAl */
.fill ,.flex-1{
  flex:1;
}
.w-full,.full{
  width: 100%;
}
.h-full,.full{
  height: 100%;
}
.flex,.flex-col,.jc-space,.jc-even,.jc-center,.items-center,.items-start{
  display: flex;
}
.flex-col{
  flex-direction: column;
}
.jc-space{
  justify-content: space-between;
}
.jc-even{
  justify-content: space-evenly;
}
.jc-center,.center{
  justify-content: center;
}
.items-center,.center{
  align-items: center;
}
.items-start{
  align-items: start;
}
.bg-light{
  background-color: var(--bg-light);
}
.bg-card,.card{
  background-color: var(--bg-card);
}
.px,.pad{
  padding-inline: .7rem;
}
.py,.pad{
  padding-block: .7rem;
}
.card{
  border: var(--border);
  overflow: hidden;
}

.rounded,.card{
  border-radius: var(--card-radius)
}
.bordered{
  border:var(--border);
}
.border-down{
  border-bottom: var(--border);
}
.border-top{
  border-top: var(--border);
}
.border-left{
  border-left: var(--border);
}
.border-right{
  border-right: var(--border);
}
/* COLORS */
.dim{
  color:var(--text-gray);
}
.center{
  margin: auto auto;
  text-align: center;
}
.head-text{
  color: var(--text-black);
}
.accent{
  color: var(--accent);
}
/* TEXT */
.text-left{
  text-align: left;
}