.login form input{
    border-radius: .5rem;
    padding: 1rem;
    border: var(--border);
}
.login form input:focus{
    outline:  solid 1px var(--accent);
}
.login form button{
    color:white;
    background-color: var(--accent);
    border: none;
    border-radius: .5rem;
    cursor: pointer;
    margin-top: 1rem;
}
.login form button:hover{
    background-color: var(--accent-dark);
}
.login form{
    width: 400px;
    gap:.4rem;
}

.login form hr{
 margin-block:.5rem;
 margin-inline:2rem;
}
.register:hover{
    color:var(--accent-dark);
    cursor: pointer;
    text-decoration: underline;
}
.first-load-div{
    width: 50%;
    height: 12rem;
    border-radius: 1rem;
}