.sidebar{
    gap: .6rem;
    min-width: 14rem;
    flex: .2;
}

.icon{
    border-radius: 999px;
}
.grouped-list{
    align-items: center;
}
.grouped-list .chev{
    visibility: hidden;
}
.grouped-list:hover{
    text-decoration: underline;
    color: var(--accent);
}
.grouped-list:hover .chev{
    visibility: visible;
    rotate: 90deg;
}
.sidebar__card{
    overflow: hidden;
    border-radius: 25px;
}
.icon-text{
    gap:.5rem;
}
.hover-gray:hover,.icon:hover{
    background: var(--border-color);
}

.sidebar__profile-bg{
    object-fit: cover;
    height: 4rem;
}
.sidebar__top{
    padding-top: 0;
}
.bordered{
    border-top: var(--border);
}

.sidebar__avatar{
    aspect-ratio: 1/1;
    width: 33% !important;
    height: 33% !important;
    margin-top: calc(-33%/2) !important;
    border: 1px solid;
    cursor: pointer;
}
